<h1>Shop Name: <%= @shop.shop_name %></h1>
<p>(<%= @shop.shelves.size %>)
   <% if @shop.shelves.size == 1 %>
    Shelf
   <% else %>
    Shelves
   <% end %>
</p>

<ul>
  <% @shop.shelves.each do |s| %>
    <li> <%= link_to s.shelf_name, shop_shelf_path(@shop, s) %>&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to "Delete", shop_shelf_path(@shop, s), method: :delete %></li>
  <% end %>
</ul>

<p>This Shop has these unshelved candies: </p>
<ul>
	<% @shop.candies.each do |c| %>
		<% if c.is_shelved == false %>
			<li> <%= link_to c.candy_name, edit_shop_candy_path(@shop, c) %> </li>
		<% end %>
	<% end %>
</ul>

<p>This Shop has all these candies on its shelves: </p>
<ul>
	<% @shop.candies.each do |c| %>
		<% if c.is_shelved == true %>
			<li> <%= link_to c.candy_name, edit_shop_candy_path(@shop, c) %></li>
		<% end %>			
	<% end %>
</ul>

<%= link_to "Add new Candy to the Shop", new_shop_candy_path(@shop) %> <br>
<%= link_to "Create new Shelf for this shop", new_shop_shelf_path(@shop) %> <br>
<%= link_to "All Shops", shops_path %>
