<h1>Shelf/Unshelf <%= @candy.candy_name %></h1>

<%= form_for(@candy, url: shop_candy_path ,html: {multipart: true}) do |f| %>
	<div class="form-group">
	<p>
	  Shelf Candy <%= f.check_box :is_shelved %>
	</p>
	<p>
		Assigned Shelf
	  	<%= f.collection_select :shelf_id, @shelves,:id,:shelf_name, include_blank: true %>
   	</p>
	<p>
	  <%= f.submit "Update Candy", :class => 'btn btn-sm btn-success' %>
	  <%= link_to "Back to Shop", shop_path(params[:shop_id]), :Class => 'btn btn-sm btn-danger' %>
	</p>
	</div>
<% end %>
